@model AddClientViewModel

<section id="add-client" class="modals">
    <div class="modal-wrapper">

        <div class="modal-header">
            <h3>Add Client</h3>
            <button class="btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

		<form method="post" asp-controller="Admin" asp-action="AddClient" novalidate>
			<div class="modal-content">
                <div class="form-group">
                    <label asp-for="ClientName" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="ClientName" class="form-input" />
                        <span asp-validation-for="ClientName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="Email" class="form-input"/>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
			</div>

            <button type="submit" class="btn btn-blue modal-submit">Add</button>
        </form>
    </div>
</section>