<div id="notification-container">
    <button data-type="dropdown" data-target="#notification-dropdown" class="btn notification-icon">
        <i class="fa-solid fa-bell"></i>
        <span class="notification-dot hide"></span>
    </button>

    <div id="notification-dropdown" class="dropdown hide">

        <div class="stretch-content n-dropdown-header">
            <h5>Notifications</h5>
            <div class="number-of-notifications">0</div>
        </div>

        <div class="or-line"></div>

        <div class="notifications-list">
            <div class="notification-row">
                <div class="n-image">
                    <img src="/images/alpha-fade-logo.svg" alt="">
                </div>
                <div class="notification-content">
                    <div class="n-message">New Project Added</div>
                    <div class="n-time">1 min ago</div>
                </div>
                <button id="n-close" class="btn">&times;</button>
            </div>
        </div>
    </div>
</div>